h1 Hi #{email},

p.
    We are only one step ahead to finish your subscription to notifications using #{client.kind}.
    The only step pending is to activate your new client by clicking
     #[a(href=baseUrl + '/clients/verify?email=' + email + '&token=' + token + '&clientId=' + client._id) here].

p Hope you enjoy it and we would love if you want to contribute by creating your own watchers! :)
p Notify Watcher Team