p Here is your code to active new clients to receive your notifications
p #{token}
p.
    It will expire soon, so you should use it or ask for a new one when you need it.
    We hope you enjoy it and we would love if you want to contribute by creating your own watchers! :)
p Notify Watcher Team